/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Karma&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;    
}

body {
    background-color: #F1F1F1;
    font-family: serif, Arial;
    /* font-size: 1.2rem; */
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    font-weight: bold;
    line-height: 1.6;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

.thin-border-line {
    border: 0.5px solid #bdbcbc;
}
