/* FooterBrev */
.footerbrev-container {
    align-items: center;
    background-color: #fff;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
}

.footerbrev-container label {
    padding-right: 40px;
}

.footerbrev-container input {
    border: 1px solid #bdbcbc;
    border-radius: 5px;
    margin-right: 20px;
    max-width: 100%;
    padding: 10px 20px;
}

.footerbrev-container button {
    background-color: #000;
    border: 0;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    text-transform: uppercase;
}

/* ------------------------------- */
/* FooterNavigation */
.footer-navigation-container {
    background-color: #000;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 60px;
}

.footer-navigation-left {
    color: #969696;
    font-size: 1rem;
}

.footer-navigation-left img {
    margin-bottom: 30px;
    width: 250px;
}

.a-no-underline a {
    text-decoration: none;
}

.footer-navigation-left a {
    color: #969696;
}

.footer-navigation-left a:hover {
    text-decoration: none;
}

.footer-navigation-right {
    display: flex;
}

.footer-navigation-right h5 {
    border-bottom: 1px solid #969696;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer-navigation-right ul { 
    padding-right: 50px;  
    padding-top: 10px;
}

.footer-navigation-right-links li {
    line-height: 1.1;
    padding-top: 7px;
}

.footer-navigation-right-links a {
    color: #969696;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}

.footer-navigation-right-links a:hover {
    text-decoration: underline;
}

/* ------------------------------- */
/* FooterSocial */
.footer-social-container {
    background-color: #31312F;
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
}

.footer-social-container img {
    width: 250px;
}

.footer-social-first img {
    padding-top: 6px;
}

.footer-social-third {
    padding-left: 30px;
}

.footer-social-third a {
    color: rgb(117, 117, 115);
    font-size: 1.2rem;
    padding: 0 7px;
}

.footer-social-third a:hover {
    color: rgb(202, 202, 199);
}

.vertical-line {
    border-right: 1px solid #5a5a59;
    padding-right: 40px;
}
