/* HeaderTop */
.header-top-container {
    background-color: black;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    font-size: 0.6rem;
    font-weight: 500;
    padding: 10px 0;
    text-align: left;
    text-transform: uppercase;
}

.header-top-left {
    display: flex;
}

.header-top-right a {
    padding: 0 10px;
}

.header-top-container p {
    padding: 0 20px;
}

.header-top-container a {
    color: #708683;
    text-decoration: none;
}

.header-top-container a:hover {
    color: #E1E1E0;
}

/* ---------------------- */
/* HeaderTitle */
.header-title-container {
    background-color: #FFFFFF;
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(min-content, 1fr) max-content;
    padding: 30px;
}

.HeaderTitleMiddle img {    
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}

.HeaderTitleRight button {
    border: 0;
}

.title-shopping-cart {
    background-color: rgb(214, 210, 210);
    color: #FFFFFF;
    padding: 12px 20px;
    text-transform: uppercase;
}

.title-shopping-cart:hover {
    background-color: #807d7d;
}

.title-shopping-cart span {
    padding: 0 5px;
}

/* ---------------------- */
/* HeaderNavigation */
.header-navigation-container {
    background-color: #fff;
}

.header-nav {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    font-size: 1rem;
    padding: 20px 30px;
}

.nav-container ul {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.nav-container li {
    padding: 0 5px;
}

.nav-container li::after {
    content: "\25BE";
}

.nav-container a {
    color: #000;
    text-decoration: none;
}

.search-bar {
    font-size: 1rem;
    padding: 5px 10px;
}
