/* Main Forside */
.main-forside-text {
    color: #878787;
    font-size: 0.8rem;
    padding: 20px;
}

/* --------------------- */

/* Main Pic Three container */
.main-pic-three-images {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 40px;
    text-align: center;
}

.main-pic-three-images li {
    background-color: #fff;
    color: #2F2F2F;
}

.three-grid-image-text {
    padding: 20px 0;
}

.three-grid-image-text h2 {
    font-size: 2.5rem;
}

.three-grid-image-text h4 {
    font-size: 1.9rem;
    padding-bottom: 50px;
}

.three-grid-image-text p {
    font-size: 1rem;
    padding-bottom: 10px;
}

.three-grid-image-text h4, .three-grid-image-text p {
    color: #878787;
}

.three-grid-image-text button {
    background-color: #CA2550;
    border: none;
    color: #fff;
    padding: 10px 30px;
    font-weight: 600;
    text-transform: uppercase;
}

/* --------------------- */

/* Main Mere container */
.main-single-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 40px;
}

.main-single-grid-text {
    background-color: #000;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 400;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    
}

.main-single-grid-text a {
    color: #c43b5f;
    padding-left: 10px;
    text-decoration: none;
}

.main-single-grid-text a:hover {
    text-decoration: underline;
}

/* --------------------- */

/* MainPicScroll Container */
/* SlideShow container */

.slide-container {
    /* background: #000; */
    height: 100%;
    max-width: 100%;
    /* margin: auto; */
    margin-bottom: -10px;
}

.each-slide > div {
    background-size: cover;
    height: 400px;
}

/* --------------------- */

/* Main marker component */
.main-marker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-marker-left {
    background-color: #fff;
    padding: 50px 0 50px 30px;
}

.main-marker-left h2 {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.main-marker-left p {
    font-size: 1.2rem;
    max-width: 550px;
}

.main-marker-caps {
    text-transform: uppercase;
}

.text-padding-bottom {
    padding-bottom: 40px;
}

.main-marker-link {
    color: rgb(156, 138, 138);
    text-decoration: none;
}

/* --------------------- */

/* Main Pink container & Main Pic Two container*/
.main-grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px;
}

.white-background {
    background-color: #fff;
    padding: 30px;
}
